@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap');

$black: #0a0a0a;
$white: #DDDDDD;
$blue_neon:#30AADD;
$full-white: #FFFFFF;

$name_font: 'Nunito', sans-serif;