@import './reset.scss';
@import './_variables.scss';

body{
  background: #0a0a0a;
}
main{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  max-height: 100vh;
  .start_desc{
    min-width: 48vw;
    .start_desc_b{
      display: flex;
      justify-content: space-between;
      align-items: center;
      .social_media{
        svg{
          position: relative;
          fill: #DDDDDD;
          width: 50px;
          margin-right: 10px;
          transition: 0.2s ease;
          &:hover{
            transition: 0.2s ease;
            cursor: pointer;
            filter: invert(1);
          }
        }
      }
    }
    h1.main_name{
      color: $white;
      font-family: $name_font;
      font-size: 128px;
      line-height: 96px;
    }
    p.main_desc{
      position: relative;
      left: 10px;
      text-align: left;
      color: $white;
      font-family: $name_font;
      font-size: 20px;
      font-weight: bold;
    }
  }
  .scroll_down{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    bottom: 0px;
    h1{
      color: $white;
      font-family: $name_font;
      line-height: 0;
    }
    svg{
      position: relative;
      width: 96px;
      animation: toDown 0.8s ease infinite;
    }
  }
}

@keyframes toDown {
  0%{
    transform: translate3d(0,0,0);
  }
  10%{
    transform: translate3d(0,2px,0);
  }
  25%{
    transform: translate3d(0,4px,0);
  }
  
}

.intro{
  opacity: 1;
  min-height: 100vh;
  max-height: 100vh;
  font-family: $name_font;
  .presentation{
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    max-height: 100vh;
    border-left: 2px solid $white;
    padding-left: 1vw;
    margin: 0 0 0 16vw;
    .p_content{
      p{
        font-size: 96px;
        color: $white;
        span.purple{
          color: #8879B0;
        }
        
      }
      p.um{
        display: none;
        transform: translate3d(0px, 40px, 0);
        color: $white;
        opacity: 0.75;
        font-size: 56px;
      }
      p.dois{
        display: none;
        transform: translate3d(0px, 75px, 0);
        color: $white;
        opacity: 0.5;
        font-size: 48px;
      }
      p.tres{
        display: none;
        transform: translate3d(0px, 100px, 0);
        color: $white;
        opacity: 0.25;
        font-size: 42px;
      }
      p.quatro{
        font-size: 42px;
        display: flex;
        text-align: center;
        align-items: baseline;
      }
      a.download{
        margin: 20px 0 0 10px;
        display: flex;
        align-items: center;
        color: $white;
        text-decoration: none;
        font-family: $name_font;
        font-size: 30px;
        font-weight: bold;
        border: 1px solid $white;
        width: 200px;
        border-radius: 6px;
        padding: 10px;
        transition: 0.2s ease;
        &:hover{
          transition: 0.2s ease;
          border: 1px solid $black;
          color: $black;
          background: $blue_neon;
          svg{
            fill: $black;
          }
        }
        img{
          width: 32px;
        }
      }
    }
  }
  
  
}

p.um.ativo{
  display: block !important;
}
p.dois.ativo{
  display: block !important;
}
p.tres.ativo{
  display: block !important;
}
.intro.ativo{
  animation: border 2s ease forwards;
  .presentation{
    p{
      animation: showCode 4s forwards;
    }
    p.um{
      animation: showCode 5s forwards;
    }
    p.dois{
      animation: showCode 6s forwards;
    }
    p.tres{
      animation: showCode 6.5s forwards;
    }
    p.quatro{
      animation: showCode 7s forwards;
    }
  }
}

@keyframes showCode{
  0%{
    transform: translate3d(-400px, 0, 0);
    opacity: 0;
  }
  50%{
    transform: translate3d(-400px, 0, 0);
        opacity: 0;
  }
  100%{
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}



@keyframes border{
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}